.steps-section h3 {
    margin: 1.5em 3em;
    text-align: center;
}

.steps-section {
    margin: 5em;
}

.step h4 {
    font-size: 24px;
}

.steps-content-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

.steps {
    width: 30%;
}

.step {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    border-bottom: 1px solid rgb(195, 194, 194);
}

.steps-images-block {
    margin-top: 40px;
    position: relative;
    width: 40%;

    box-sizing: border-box;
    background-color: #DACCFF;
    border: 1px solid black;
    border-radius: 15px;
    padding: 200px;
}

.img-back-steps {
    position: absolute;
    top: 3em;
    left: 3em;
    z-index: 1;
}

.img-front-steps {
    position: absolute;
    top: 5em;
    left: 7em;
    z-index: 10;
}

.btn-step {
    margin-right: 15px;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    box-shadow: none;
}

.styled-checkbox:checked {
    background-color: #EAFA35;
    border-color: #EAFA35; 
}

.step input[type="checkbox"] {
    background-color: initial !important;
  }

  .step:hover {
    padding: 5px;
    transform: translateY(-5px);
    border: 1px solid grey;
    border-radius: 10px;
    background-color: #DACCFF;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer; 
}
