.faqs-block h3 {
    font-size: 45px;
    line-height: 58.5px;
    text-align: center;
}

.faqs-block {
    padding: 3em;
    color: white;
    background-color: black;
}

.list-item-faqs {
    position: relative;
    flex: none;
    margin: 1em;
    padding: 1em;
    width: 90%;
    height: auto;

    box-sizing: border-box;
    background-color: #262626;
    border-radius: 5px;

    transition: 3s;
}

.list-faqs {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;

    width: 80%;
}

.arrow-question {
    position: absolute;
    top: 0.3em;
    right: 3em;

    box-sizing: border-box;
    padding: 2em;
    border: none;

    transition: 0.3s ease-in-out;
}

.down {
    transform: rotate(180deg);
}

.hidden-answer {
    overflow: hidden;
    transition-delay: 500ms;
}